name: ESLint
on:
  push:
    branches:
      - "*"
      - "!gh-pages"
    paths:
      - "src/**"
      - ".eslintignore"
      - ".eslintrc.*"
      - ".prettierrc"
      - ".github/workflows/lint.yml"
      - "package.json"
      - "yarn.lock"
  pull_request:
    tags:
      - '!*'
    branches:
      - '*'
  workflow_dispatch:

jobs:
  lint:
    name: Lint source code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node v16
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npm run lint:fix

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          add: src
          message: "chore(lint): auto-lint source code"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
